footer.footer
  .footer__inner
    .footer__links
      a(href="#").footer__link.icon-github
      a(href="#").footer__link.icon-linkedin2
    .footer__copyright
      p 
        | ciand.net 
        span |    
        | All Rights Reserved
         
