header.header
  .header__inner
    .header__brand
      a.header__brand-link(href='#')
        img.header__brand-image(src='./images/cian-portrait.jpg')
    .header__nav
      ul.header__nav-items
        li.header__nav-item
          a(href='#')
            | Home
        li.header__nav-item
          a(href='#')
            | Projects
        li.header__nav-item
          a(href='#')
            | Skills
        li.header__nav-item
          a(href='#')
            | About
        li.header__nav-item
          a(href='#')
            | Contact
    button.hamburger.hamburger--collapse(type="button")  
      span.hamburger-box
        span.hamburger-inner
            
