section.hero.hero--cta 
  .hero__inner
    .hero__content
      .hero__header
        h1.hero__title
          | Cian Durrigan
      .hero__body
        h2.hero__content-title
          | Front-end Developer  
        h2.hero__content-detail
          | - HTML / CSS
        h2.hero__content-detail
          | - JavaScript / ES6 / jQuery
        h2.hero__content-detail
          | Wordpress CMS
        h2.hero__content-detail
          | React
      .hero__ctas
        .hero__cta.icon-github
        .hero__cta.icon-linkedin2
    figure.hero__figure
      img.hero__image(src="./images/portfolio-bg.jpg" alt="")
