section.hero.hero--cta 
  .hero__inner
    .hero__header
      h1.hero__title
    .hero__content
      h2.hero__content-title  
      h2.hero__content-detail
      h2.hero__content-detail
      h2.hero__content-detail
      h2.hero__content-detail
    .hero__ctas
      .hero__cta
      .hero__cta
    figure.hero__figure
      img.hero__image(src="./images/portfolio-bg.jpg" alt="")
