nav.mobile-nav
  .mobile-nav__inner
    .mobile-nav__body
      ul.mobile-nav__menu
        li.mobile-nav__item
          a(href="#") Home
        li.mobile-nav__item
          a(href="#") Projects
        li.mobile-nav__item
          a(href="#") Skills 
        li.mobile-nav__item
          a(href="#") About 
        li.mobile-nav__item
          a(href="#") Contact
            
