.header {
  padding: 2rem 0;
  background-color: $primary-background;
  box-shadow: 0 1px 10px $dark;
  &__inner {
    display: flex;
    position: relative;
  }
  &__brand {
    position: absolute;
    top: 0px;
    left: 2rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    background-color: $gray-dark;
    box-shadow: 0 3px 10px $dark;
    @include min-sm {
      top: 0;
      width: 120px;
      height: 120px;
    }
  }
  &__nav {
    width: 40rem;
    font-weight: 600;
    margin-right: 20rem;
    margin-left: auto;
  }
  @include max-sm {
    &__nav {
      display: none;
    }
  }
  &__nav-items {
    display: flex;
    justify-content: space-between;
  }
  &__nav-item {
    a {
      color: $gray-dark;
    }
  }
  .hamburger {
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
  }
  .hamburger-inner {
    width: 34px;
    height: 3px;
    &:before, &:after {
      width: 34px;
      height: 3px;
    }
  }
  @include min-sm {
    .hamburger {
      display: none;
    }
  }
}
