.hero {
  height: calc(100vh - 66px);
  &__inner {
    position: relative;
    height: 100%;
  }
  &__content {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
    color: $light;
    text-transform: uppercase;
  }
  &__figure {
    position: relative;
    margin: 0;
    height: 100%;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $dark;
      z-index: 1;
      opacity: .4;
    }
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
