.mobile-nav {
  position: absolute;
  transform: translateY(-100%);
  left: 0;
  width: 100%;
  font-weight: 600;
  background: $gray-light;
  box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.5);
  transition: all .3s linear;
  @include min-sm {
    display: none;
  }
  &.is-active {
    transform: translateY(0);
  }
  &__inner {
    padding: 20px;
  }
  &__menu {
    text-align: center;
  }
  &__item {
    padding-bottom: 5px;
    a {
      color: $gray-dark;
    }
  }
}
